// Footer js
script(src="./js/libs/jquery/jquery-3.3.1.min.js")
script(src="./js/libs/jquery/jquery-migrate-3.0.1.min.js")
script(src="./js/libs/magnific-popup/jquery.magnific-popup.min.js")
script(src="./js/libs/selectric/jquery.selectric.js")
script(src="./js/libs/jquery.malihu.PageScroll2id.min.js")