// Footer
footer.footer
  .container
    
    .row
      .col-md-6
        .footer__logo
          img(src="./images/logo.png", alt="")

        .footer__copyright © 2019 PHARMA+LOGICA, Все права защищены.

        address.footer__address
          p ВИТА Д3 - Витамин Д3
            br
            | Свидетельство о гос.регистрации №: 
            br
            | RU.77.99.11.003.E.003908.09.17 от 05.09.2017

        .footer__links
          a(href="#!") 
            i.icon-location
            | Россия, Москва
          a(href="mailto:") 
            i.icon-envelope
            | info@vitad3.ru

      .col-md-6
        nav.footer__nav
          ul
            li: a(href="#!") Особенности
            li: a(href="#!") Продукция
            li: a(href="#!") Иследования
            li: a(href="#!") Рекомендации
            li: a(href="#!") Где купить

        .clear

        .social.footer__social
          a(href="#!" target="_blank")
            i.icon-facebook
          a(href="#!" target="_blank")
            i.icon-twitter
          a(href="#!" target="_blank")
            i.icon-linkedin
          a(href="#!" target="_blank")
            i.icon-pinterest
          a(href="#!" target="_blank")
            i.icon-google-plus
          a(href="#!" target="_blank")
            i.icon-youtube
  
