/* header */
.header {
  background-color: $color-gray;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  ul {
    li {
      display: inline-block;
    }
  }
  &-holder {
    height: 100px;
  }
}
