/* menu */
[role="navigation"] {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
        margin: 0;
    }
  }
}
  
.navigation {
  font-size: rem(14px);
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin: 0;
      list-style: none;
      &>a, &>span {
        display: block;
        height: 60px;
        line-height: 60px;
        color: #808080;
        &.mPS2id-highlight {
          color: $link-color;
          text-decoration: none;
        }
      }
      &+li {
        margin-left: 25px;
      }
    }
  }
  &__btn {
    display: none;
    width: 60px;
    height: 60px;
    color: $color-white;
  }
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: #fff;
  }
}

.hamburger-box {
  vertical-align: middle;
}