// :root {
//   @include defineColorHSL(--color-primary, 0, 89%, 56%);
// }
// [data-theme="dark"] {
//   @include defineColorHSL(--color-primary, 0, 100%, 56%);
// }

$primary-color: #322926;

$link-color: #206ab2;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;
$color-pink: pink;
$color-yellow: #ffe500;
$color-blue: #206ab2;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-montserrat: 'Montserrat', $primary-font;